* {
	margin: 0;
	padding: 0;
	border: 0;
}

.grid {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-areas: "header header"
	"sidebar content"
	"bar bar"
	"card card"
	"footer footer";
}

.head {
	background: #d8d8d8;
	color: #000;
	padding: 55px;
	grid-area: header;
	font-size: 3.7rem;
	font-weight: bold;
	height: 100px;
}

.aside {
	background: #ebebeb;
	color: #000;
	padding: 20px;
	grid-area: sidebar;
	font-weight: bold;
	font-size: 1.5rem;
}

.bar {
	background: #d8d8d8;
	grid-area: bar;
	height: 200px;
}

.content {
	background: #FFF;
	color: #000;
	padding: 70px;
	grid-area: content;
}

.card-wrapper {
	display: flex;
	grid-area: card;
	padding: 50px;
}

.card {
	border: 3px solid rgba(115, 115, 115, 0.81);
	padding: 10px;
	flex: 1;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	margin-top: -160px;
}

.card:last-child {
	margin-right: 0;
}

.card_image {
	 height: 164px;
	 width: 246px;
	 overflow: hidden;
}

.card_image img {
	 height: auto;
	 width: 246px;
}

.card_read-more {
	align-self: flex-end;
	margin-top: auto;
	width: 100%;
}

.card_read-more button {
	background: #000;
	width: 100%;
	border: none;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	font-size: 1.2rem;
	margin-top: 15px;
}

.footer {
	background: #000;
	color: #FFF;
	padding: 55px;
	grid-area: footer;
	font-size: 3.7rem;
	font-weight: bold;
	height: 100px;
}

body {
	width: 1280px;
	margin: 0 auto;
	font-family: 'Arial', sans-serif;
}

nav {
	display: flex;
}

ul {
	list-style: none;
}

li {
	flex: 1;
	padding: 10px;
	padding-left: 50px;
}

p {
	line-height: 1.5;
}

h2 {
	font-weight: bold;
	font-size: 1.7rem;
	padding-bottom: 10px;
}